<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo - Minimal, Private Social Network</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>
<body class="bg-gray-950 min-h-screen text-gray-100" style="background-image: url('../static/images/bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="flex flex-col justify-center h-screen w-full px-6 md:pl-16 md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
        <h1 class="text-left text-5xl sm:text-6xl md:text-8xl lg:text-9xl font-black mb-8" style="font-family: 'Playfair Display', serif;">Echo</h1>
        <p class="text-left text-base sm:text-lg md:text-xl lg:text-2xl font-medium text-gray-200 mb-8" style="font-family: 'Be Vietnam Pro', sans-serif;">
            Echo is a simple web platform where users can interact with each other by creating and sharing text-based posts. The goal is to offer a clean, minimal environment for text discussions without the distractions of images or ads. Moreover, Echo is privacy-focused, so no emails and personal information required to sign-up!
        </p>
        <div class="flex flex-col sm:flex-row gap-4 mt-2">
            <a href="/login" class="px-8 py-3 rounded-lg border-2 border-white text-white font-semibold text-lg shadow transition w-full sm:w-auto text-center bg-transparent hover:bg-white hover:text-gray-900 active:scale-95 duration-150">Login</a>
            <a href="/register" class="px-8 py-3 rounded-lg bg-white text-gray-900 font-semibold text-lg shadow transition w-full sm:w-auto text-center hover:bg-gray-200 active:scale-95 duration-150">Sign Up</a>
        </div>
    </div>
</body>
</html>